<div class="public w-full h-screen flex justify-content-between align-items-center">
  <div class="card w-20rem">
    <h1 class="text-6xl">Lo que está pasando ahora</h1>
    <h2>Únete Hoy</h2>
    <p-button
      routerLink="/register"
      label="Crear Cuenta"
      severity="contrast"/>
    <p-divider />
    <p-button
      routerLink="/login"
      label="Iniciar Sesion" />
    <p-divider />
    <p>¿Aun no tienes una Cuenta?</p>
    <p-button
      label="Invitado"
      (click)="createGuestAccount()"
      [outlined]="true" />
    <app-footer />
  </div>
</div>
