<nav class="sidebar h-screen pt-3 pr-3">
  <div class="container">
    <div class="sidebar__header pb-3">
      <h1 class="sidebar__title" [routerLink]="['/']">Twitter</h1>
    </div>
    <div class="sidebar__content flex flex-column gap-3">
      <p-button
        [routerLink]="['/home']"
        label="Home"
        icon="pi pi-home"
        severity="contrast"
        [rounded]="true" />
      <p-button
        [routerLink]="['/profile/', user?.username]"
        label="Profile"
        icon="pi pi-user"
        severity="contrast"
        [rounded]="true" />
      <p-button
        label="Logout"
        icon="pi pi-sign-out"
        severity="danger"
        (click)="logout()"
        [rounded]="true" />
    </div>
  </div>
  <app-footer />
</nav>
