<div class="follow-list">
  @for (user of followers; track user.id) {
    <div class="follow-item flex justify-content-between align-items-center">
      <div class="box-1 flex align-items-center gap-2" (click)="goProfile(user.username)">
        <p-avatar label="U" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div class="follow-info">
          <b>{{ user.fullName }}</b>
          <p class="follow-username">{{ user.username }}</p>
        </div>
      </div>
      <p-button
        [label]="loading[user.id] ? 'Loading...' : 'Follow'"
        [icon]="loading[user.id] ? 'pi pi-spin pi-spinner' : 'pi pi-user-plus'"
        severity="primary"
        [outlined]="true"
        [rounded]="true"
        (click)="followUser(user.id)"
        [disabled]="disabled[user.id]"
      />
    </div>
  } @empty {
    <p>No followers yet.</p>
  }
</div>
