<div class="follow-list">
  @for (user of followers; track user.id) {
    <div class="follow-item flex justify-content-between align-items-center">
      <div class="flex align-items-center gap-2">
        <p-avatar label="U" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div class="follow-info">
          <b>{{ user.firstName + " " + user.lastName }}</b>
          <p class="follow-username">{{ user.username }}</p>
        </div>
      </div>
      <p-button
        label="Follow"
        [icon]="loading[user.id] ? 'pi pi-spin pi-spinner' : 'pi pi-user-plus'"
        severity="primary"
        [outlined]="true"
        [rounded]="true"
        (click)="followUser(user.id)"
        [disabled]="loading[user.id]"
      />
    </div>
  } @empty {
    <p>No followers yet.</p>
  }
</div>
