<div class="flex justify-content-between">
  <app-sidebar></app-sidebar>
  <main class="flex gap-3 w-full">
    <section class="profile w-full pt-6">
      <div class="container">
        <div class="profile-header p-3">
          <div class="profile-avatar">
            <img alt="Profile Avatar" src="https://via.placeholder.com/150" />
          </div>
          <div class="profile-info">
            <h1>{{ user.firstName + " " + user.lastName }}</h1>
            <p class="pb-3">{{ "@" + user.username }}</p>
            <p-button class="edit-profile-button" (click)="showDialog()" label="Edit Profile" />
            <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
              <span class="p-text-secondary block mb-5">Update your information.</span>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="firstname" class="font-semibold w-6rem">First Name</label>
                <input pInputText id="firstname" [(ngModel)]="firstName" autocomplete="off" />
              </div>
              <div class="flex align-items-center gap-3 mb-3">
                <label for="lastname" class="font-semibold w-6rem">Last Name</label>
                <input pInputText id="lastname" [(ngModel)]="lastName" autocomplete="off" />
              </div>
              <div class="flex justify-content-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="hideDialog()" />
                <p-button label="Save" (click)="saveProfile()" />
              </div>
            </p-dialog>
          </div>
        </div>
        <div class="card">
          <p-tabView>
            <p-tabPanel header="Posts">
              <app-post></app-post>
            </p-tabPanel>
            <p-tabPanel header="Following">
              <app-following />
            </p-tabPanel>
            <p-tabPanel header="Followers">
              <app-followers />
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </section>
    <aside class="pt-6">
      <app-follow></app-follow>
    </aside>
  </main>
</div>
