<div class="follow w-20rem p-3">
  <div class="container">
    <h1 class="follow__title">Who to Follow</h1>
    @for (user of users; track user.id) {
      <div class="flex justify-content-between align-items-center gap-3 mb-3">
        <div class="flex align-items-center gap-2">
          <p-avatar label="U" styleClass="mr-2" size="large" shape="circle" />
          <div class="box">
            <b>{{ user.firstName + " " + user.lastName }}</b>
            <p class="my-0">{{ "@" + user.username }}</p>
          </div>
        </div>
        <p-button label="Follow" icon="pi pi-plus" severity="contrast" [rounded]="true" (click)="followUser(user.id)"></p-button>
      </div>
    } @empty {
      <p>No users to follow.</p>
    }
  </div>
</div>

