<div class="follow w-20rem p-3">
  <div class="container">
    <h1 class="follow__title pb-3">Who to Follow</h1>
    <div class="follow__content">
      @for (user of users; track user.id) {
        <div class="flex justify-content-between align-items-center gap-3 mb-3">
          <div class="flex align-items-center gap-2" (click)="goProfile(user.username)">
            <p-avatar label="U" styleClass="mr-2" size="large" shape="circle" />
            <div class="box">
              <b>{{ user.fullName }}</b>
              <p class="my-0">{{ "@" + user.username }}</p>
            </div>
          </div>
          <p-button
            label="Follow"
            severity="contrast"
            [icon]="loadingUsers[user.id] ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
            [rounded]="true"
            [disabled]="loadingUsers[user.id]"
            (click)="followUser(user.id)"/>
        </div>
      } @empty {
        <p>No users to follow.</p>
      }
    </div>
  </div>
</div>
