<div class="follow-list">
  @for (follow of following; track follow.id) {
    <div class="follow-item flex justify-content-between align-items-center">
      <div class="box-1 flex align-items-center gap-2" (click)="goProfile(follow.username)">
        <p-avatar label="U" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div class="follow-info">
          <b>{{ follow.fullName }}</b>
          <p class="follow-username">{{ follow.username }}</p>
        </div>
      </div>
      <p-button
        label="Unfollow"
        [icon]="loading[follow.id] ? 'pi pi-spin pi-spinner' : 'pi pi-user-minus'"
        severity="danger"
        [outlined]="true"
        [rounded]="true"
        (click)="unFollowUser(follow.id, follow.username)"
        [disabled]="loading[follow.id]"
      />
    </div>
  } @empty {
    <p>No following users.</p>
  }
</div>
