<div class="flex justify-content-between">
  <app-sidebar />
  <main class="flex gap-3 w-full">
    <section class="home w-full">
      <div class="container">
        <app-create-post />
        <h1 class="px-3">Welcome {{ "@" + username }}</h1>
        <div class="card">
          <p-tabView>
            <p-tabPanel header="For you">
              <app-post />
            </p-tabPanel>
            <p-tabPanel header="Following">
              <app-post />
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </section>
    <aside class="pt-6">
      <app-follow />
      <app-footer />
    </aside>
  </main>
</div>
