<nav class="sidebar w-15rem h-screen p-2">
  <div class="container">
    <div class="sidebar__header">
      <h1 class="sidebar__title" [routerLink]="['/']">Enlace</h1>
    </div>
    <div class="sidebar__content flex flex-column gap-1">
      <p-button [routerLink]="['/home']" label="Home" icon="pi pi-home" severity="contrast" [text]="true" [rounded]="true" />
      <p-button [routerLink]="['/profile']" label="Profile" icon="pi pi-user" severity="contrast" [text]="true" [rounded]="true" />
    </div>
  </div>
</nav>
