.sidebar {

  width: min-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.sidebar__content .p-button {
  width: min-content;
}
@media (max-width: 425px) {
  h1 {
    display: none;
  }
  ::ng-deep .p-button {
    padding: .5rem;
  }
}

