<div class="post-container">
  @for (post of posts; track post.id) {
    <div class="post-card">
      <div class="post-header flex align-items-center py-3">
        <p-avatar label="U" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
        <div class="post-author-info">
          <b>{{ post.authorName }}</b>
          <p class="post-date">{{ post.createdAt }}</p>
        </div>
      </div>
      <div class="post-content w-full">
        <p class="post-text">{{ post.content }}</p>
      </div>
      <div class="post-footer flex gap-3">
        <p-button icon="pi pi-trash"
                  [rounded]="true"
                  severity="secondary"
                  [outlined]="true"
                  [disabled]="true"
                  (click)="deletePost()" />
        <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
        <p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true"></p-button>
      </div>
      <p-divider></p-divider>
    </div>
  } @empty {
    <p>No posts available.</p>
  }
</div>
