<div class="card w-full">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <p-iconField class="" iconPosition="left">
      <input
        class="w-full px-3 "
        type="text"
        pInputText
        placeholder="What is happening?"
        formControlName="content" />
    </p-iconField>
    <p-button
      class="btn-post px-3 pb-3"
      label="Post"
      icon="pi pi-send"
      type="submit"
      iconPos="right"
      [rounded]="true" />
    <p-divider></p-divider>
  </form>
</div>
