<div class="public w-full h-screen flex justify-content-start align-items-center">
  <div class="card max-w-21rem w-full">
    <h1 class="text-6xl">Lo que está pasando ahora</h1>
    <h2>Únete Hoy</h2>
    <p-divider />
    <p-button
      label="Continuar con Google"
      (click)="redirectToGoogleAuth()"
      icon="pi pi-google"
      severity="info" />
    <p-divider />
    <p-button
      routerLink="/register"
      label="Crear Cuenta"
      severity="contrast" />
    <span class="block my-3"></span>
    <p-button
      routerLink="/login"
      label="Iniciar Sesion" />
    <p-divider />
    <p>¿Aun no tienes una Cuenta?</p>
    <p-button
      label="Continue with Guest"
      (click)="createGuestAccount()"
      [outlined]="true" />
    <app-footer />
  </div>
</div>
